---
- name: Installer et configurer le conteneur
  hosts: all
  vars:
    ansible_python_interpreter: /usr/bin/python3
  become: true
  tasks:

    - name: Charger les variables
      include_vars:
        file: jira.yml
        
    - name: Installer SSH
      apt:
        name: openssh-server
        state: present

    - name: Add PostgreSQL 12 repository
      shell: curl -fsSL https://www.postgresql.org/media/keys/ACCC4CF8.asc | gpg --dearmor -o /etc/apt/trusted.gpg.d/postgresql.gpg
      shell: echo "deb http://apt.postgresql.org/pub/repos/apt/ `lsb_release -cs`-pgdg main" |sudo tee  /etc/apt/sources.list.d/pgdg.list
      command: apt-get update
      become: yes

    - name: Installer PostgreSQL 12 et les dépendances
      apt:
        name: 
          - postgresql-{{ psql_version }}
          - postgresql-client-{{ psql_version }}
          - postgresql-contrib-{{ psql_version }}
        state: present

    - name: Installer Apache
      package:
        name: apache2  # Pour les distributions basées sur Debian (comme Ubuntu)
        state: present
      when: ansible_distribution == 'Ubuntu' or ansible_distribution == 'Debian'
      
    - name: Créer un utilisateur
      user:
        name: jira
        state: present

    - name: Télécharger l'archive Jira
      command: wget https://www.atlassian.com/software/jira/downloads/binary/atlassian-jira-software-{{ jira_version }}.tar.gz /atlassian/tmp/
